@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin Sayfasına hoş geldiniz</h1>
    <a href="/GetUser/Index">Kullanıcı listesi için tıklayın</a>
    <a href="/Product/Add">Ürün ekle</a>
    <a href="/Product/GetList">Ürün Sayfası</a>
</div>
